#hero {
    background-image: url("../assets/images/ocean-3605547__340.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: cyan;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    font-size: 48px;
    text-align: center;
}