/* * {
    border: 3px solid black
} */

li {
    display: inline-block;
    padding: 10px;
}

ul {
    padding:0;
}

nav {
    background-color: aquamarine;
    text-align: center;
    position: sticky;
    top: 0px;
}

main {
    height: 1500px;
}

li.active a {
font-size: 200%;

}