p {
    font-family: sans-serif;
    font-size: small;
}

#seriesName {
    font-style:italic
}

.wiki {
    font-weight:100
}

#uses {
    font-weight: 100;
}

#sidebar {
    float:right;
    margin: 10px;
    padding: 10px;
    border: solid ;
    background-color: rgb(206, 203, 203);
    text-align: center;
    
}

#sidebar span{
    justify-content: flex-start;
    
}

.contentBar {
    font-weight: 600;
    font-size: medium;
    font-family:sans-serif;
   
}