ul {
    display:flex;
    padding: 0px;
    list-style-type: none;
    justify-content:flex-end;
}

.hr {
    border-bottom: 15px dashed;
    color: black;
}

li {
    margin: 12px;
}

li a {
    text-decoration: none;
    font-weight: bold;
    color: darkgreen;
}

#home {
    margin-right: auto;
    
}

@media screen and (max-width: 768px) {
    body {
        background-color: goldenrod
    }

    ul {
        flex-direction: column;
        align-items: center;
    }
    
    #home {
        margin-right: inherit ;
    }
}