body {
    margin: 0;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cyan;
    background-image: url();
}

#celebration {
    font-size: 35px;
}

#days {
    color: orange;
    font-family: 'Courier New', Courier, monospace;
}

#hours {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#minutes {
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#seconds {
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}